html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #aaa;
  font-family: Arial, Helvetica, sans-serif;
}

.sher {
  width: 75%;
  height: 100%;
  min-width: 600px;
  margin: auto;
  background-color: royalblue;
  display: grid;
  grid-template-rows: 15% 75% 1fr;
}

.header {
  display: grid;
  grid-template-rows: 25% 1fr;
  background-color: #485ab8;
}

.song-title {
  padding-top: 0.2em;
  color: #ffffff;
  text-align: center;
  font-size: large;
}

.status-bar {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.process-bar {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  align-items: center;
  justify-items: center;
}

.seek-bar {
  width: 100%;
  height: 100%;
}

.controler {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
  font-size: 22px;
}

.speed-controler, .time-controler, .volume-controler {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  
  grid-template-columns: 1fr 4fr;
}

.speed-controler > div, .volume-controler > div {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}

.speed-controler {
  justify-items: start;
}

.speed-controler > div:last-child, .volume-controler > div:first-child {
  width: 60%;
  opacity: 0;
}

.volume-controler {
  justify-items: end;
}


.time-controler {
  grid-template-columns: 1fr 1fr 1fr;
}

.time-controler i {
  opacity: .5;
}

.time-controler i:hover {
  opacity: 1;
}

.volume-controler {
  grid-template-columns: 4fr 1fr;
}


.main {
  position: relative;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toggle-preview {
  position: absolute;
  right: .5em;
  top: .5em;
  width: 1.5em;
  height: 1.5em;
  font-size: 30px;
  display: grid;
  align-items: center;
  justify-items: center;
  z-index: 1;
}

.toggle-preview i {
  opacity: .2;
}

.toggle-preview i:hover {
  opacity: 1;
}

.creator, .preview {
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding: 1em 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  position: relative;
}

.creator::-webkit-scrollbar, .preview::-webkit-scrollbar {
  height: 0;
  width: 0.5em;
}

.creator::-webkit-scrollbar-thumb, .preview::-webkit-scrollbar-thumb {
  background-color: #41a6e1;
}

.pre-load-lyric {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 25% !important;
  grid-template: none !important;
  justify-items: unset !important;
}

.pre-load-lyric > div {
  margin: 1em;
  padding: .5em;
  cursor: pointer;
  border-radius: 2em;
  background-color: #b3b3b3;
  box-shadow: 0 0 1em .5em #000000;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pre-load-lyric > div:active {
  color: #ffffff;
  box-shadow: 0 0 2em 1em #000000;
}

.creator > div {
  box-sizing: border-box;
  padding: .5em;
  width: 100%;
  height: 3em;
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: center;
  justify-items: center;
}

.creator .time-stamp {
  font-family: monospace;
  font-size: large;
}

.creator .lyric {
  width: 100%;
  outline: none;
  cursor: pointer;
}

.sher-focus {
  outline: .3em solid #ffffff;
  /* box-shadow: 0 .3em .3em #ffffff, 0 -0.3em .3em #ffffff  ; */
}

.preview {
  display: none;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  font-size: 45px;
  background-color: #3855ad;
}

.sher i {
  cursor: pointer;
}

.load-mp3, .load-lrc, .audio, .audio-container {
  display: none;
}